// usage: .p(3) 
// returns padding: 3rem
@import "./variables.less";

.p(@amount) {
    @value: @amount * @unit;
    padding:~"@{value}rem";
}

.pt(@amount) {
    @value: @amount * @unit;
    padding-top:~"@{value}rem";
}

.pr(@amount) {
    @value: @amount * @unit;
    padding-right:~"@{value}rem";
}

.pb(@amount) {
    @value: @amount * @unit;
    padding-bottom:~"@{value}rem";
}

.pl(@amount) {
    @value: @amount * @unit;
    padding-left:~"@{value}rem";
}

.px(@amount) {
    @value: @amount * @unit;
    padding-left:~"@{value}rem";
    padding-right:~"@{value}rem";
}

.py(@amount) {
    @value: @amount * @unit;
    padding-top:~"@{value}rem";
    padding-bottom:~"@{value}rem";
}

.px-px {
    padding-left: 1px;
    padding-right: 1px;
}

.py-px {
    padding-top: 1px;
    padding-bottom: 1px;
}

.pt-px {
    padding-top: 1px;
}

.pr-px {
    padding-right: 1px;
}

.pb-px {
    padding-bottom: 1px;
}

.pl-px {
    padding-left: 1px;
}
